body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.main-app {
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
}

.top-row {
  border: 2px solid #ccc;
  padding: 5px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  gap: 16px;
}

.question-box {
  flex: 1;
  border: 2px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
  padding: 16px;
  box-sizing: border-box;
}

.action-row {
  border: 2px solid #ccc;
  padding: 10px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.code-editor-box {
  flex: 1;
  border: 2px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
  padding: 16px;
  box-sizing: border-box;
}

.inputOutputBox {
  display: flex;
}

.code-editor-container {
  height: 500px;
}

.code-editor-box h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.input-output-box h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}


/* This is Front page of CSS */


.table-container {
  padding: 16px;
  font-family: Arial, sans-serif;
  width: 80%;
  margin: auto;
}

.table-container h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}

.problems-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.problems-table th,
.problems-table td {
  border: 1px solid #ddd;
  padding: 8px 12px;
  text-align: left;
  font-size: 18px;
  padding: 20px;

}

.problems-table th {
  background-color: #f8f8f8;
  font-weight: bold;
}

.problems-table tr:nth-child(even) {
  background-color: #fafafa;
}

.problems-table tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.problems-table a {
  color: #0645ad;
  text-decoration: none;
}

.problems-table a:hover {
  text-decoration: underline;
}

.clickable-row {
  transition: background 0.2s ease;
}