.btn-run {
    padding: 10px 16px;
    font-size: 16px;
    margin-right: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.submitButton {
  color: white;
  padding: 10px 20px;
  background-color: green;
}